html {
  padding:20px;
  height: 100%;
}

body {
  background-attachment: fixed;
  background-color: black;
  color: white;
}

header {
}

nav {
  height: 50px;
  width:100%;
  min-width:300px;
  max-width:100%;
  margin:10px auto auto 5px;
  padding:auto;
  background-color: rgba(240,240,240,0.25);
  position: fixed;
}

.navbar-logo {
  border-radius: 50%;
  margin-top:-20px;
  margin-left:-10px;
  margin-right:5px;
}

navbar {
  width: 100%;
}


.nav-text {
  color: white;
  font-family: sans-serif;
  margin-left: 25px;
  margin-right: 25px;
}

.sitecontent {
}

footer {
  text-align: center;
}