container{
    display: grid;
    height: 100dvh;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: min-content;*/
    grid-template-rows: .2fr 3fr .5fr 1fr 1fr 1fr .2fr;
    grid-template-areas:
        "nav nav"
        "game-area game-area"
        "player-status-bar player-status-bar"
        "content1 content2"
        "content3 content4"
        "content5 content6"
        "footer footer";
}

nav{
    background-color: gray;
    grid-area: nav;
}

#game-area{
    background-color: green;
    grid-area: game-area;
    position: relative;
}

#enemy-resource-bar{
    background-color: rgba(255, 0, 0, .4);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

#player-status-bar{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-area: player-status-bar;
}

#player-status-bar > span{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#content1{
    background-color: lightblue;
    grid-area: content1;
}

#content2{
    background-color: lightgreen;
    grid-area: content2;
}

#content3{
    background-color: lightcoral;
    grid-area: content3;
}

#content4{
    background-color: lightslategray;
    grid-area: content4;
}

#content5{
    background-color: lightpink;
    grid-area: content5;
}

#content6{
    background-color: lightsteelblue;
    grid-area: content6;
}

footer{
    background-color: lightblue;
    grid-area: footer;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .outer-bar{

        align-items: center;
        border: 2px solid white;
        border-radius: 90px;
        display: flex;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 80%;
    }

    .inner-bar{
        border-radius: 90px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }

    .inner-bar-text{
        color: white;
        z-index: 1;
    }

    .enemy-hp-bar{
        background-color: rgba(255, 0, 0, 1);
        width: 100%; /* this will dynamically change */
    }

    .player-hp-bar{
        background-color: red;
        width: 100%; /* this will dynamically change */
    }

    .player-fp-bar{
        background-color: rgb(60, 60, 255);
        width: 100%; /* this will dynamically change */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}